label {
    display: block;
    font: 1.5rem 'Fira Sans', sans-serif;
}

input {
 width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

body{
    background-color: #30336b;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    list-style: none;
  }

  .formulaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
  }

  .formulaire-card{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
    border-radius: 50px;
  }
  
  .formulaire-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    transition: .4s linear;
  }
  
  /* .formulaire-card:hover .formulaire-card-header{
    box-shadow: 0 0 0 26em #0fbcf9;
  } */

  .order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #0fbcf9;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
  }
  
  .order-btn:hover{
    background-color: #0fbcf9;
    color: #fff;
  }

  .desc-card{
    flex: 1;
    background-color: #fff;
    padding: 0.5rem;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
    border-radius: 50px;
  }

  p
{
    line-height: 180%;
}

a
{
    color: #0000FF;
}