html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #1B1B1B url(images/overlay.png) repeat;
    font-family: 'Varela Round', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    color: #000000;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
}

p
{
    line-height: 180%;
}

a
{
    color: #0000FF;
}




.container
{
    margin: 0px auto;
    width: 1200px;
}

    
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    font-size: 2.8em;
    color: #261300;
}

.title .byline
{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    overflow: hidden;
    padding: 5em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    padding: 5em 0em;
    text-align: center;
}

#logo h1
{
    font-size: 3.5em;
}


#logo h1 a
{
    color: #6C2A6A;
}

#logo a
{
    text-decoration: none;
}

#logo span
{
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: #3C3C3C;
}

#logo span a
{
    color: #3C3C3C;
}

#logo .icon
{
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    background: #6C2A6A;
    border-radius: 50%;
    font-size: 1.6em;
    color: #FFF;
}


/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

#wrapper1
{
    background: #FFF;
}

#wrapper2
{
    background: #6C2A6A;
}

#wrapper5
{
    background: #d60a0a;
}

#wrapper3
{
    overflow: hidden;
    padding: 0em 0em 8em 0em;
    background: #FFF;
}

#wrapper4
{
    overflow: hidden;
    padding: 8em 0em 4em 0em;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
    overflow: hidden;
    width: 1000px;
    padding: 8em 100px 8em 100px;
    text-align: center;
    color: rgba(255,255,255,0.4);
}

#welcome .content
{
    padding: 0em 8em;
}

#welcome .title h2
{
    color: rgb(106, 238, 30);
}

#welcome a,
#welcome strong
{
    color: rgba(255,255,255,0.6);
}

#welcome .failure h1
{
    color: rgb(226, 21, 21);
}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    padding: 8em 0em 5em 0em;
    text-align: center;
}


#footer .title h2
{
    color: rgba(255,255,255,1);
}


#footer .title .byline
{
    letter-spacing: normal;
    text-transform: capitalize;
    font-size: 1.6em;
    color: rgba(255,255,255,0.2);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
}

#copyright p
{
    text-align: center;
    color: rgba(255,255,255,0.2);
}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
}